{% extends "_base.html" %}

{% block css %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/album.css') }}">

{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data" class="form form-up">
    <div class="form-upload">
        {{ form.file.label }}
        {{ form.file }}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>

{% if urls %}
<div class="img-container">
    {% for url in urls %}
        <img src="{{ url }}" alt="Image">
    {% endfor %}
</div>
{% endif %}

{% endblock %}