{% extends "_base.html" %}

{% block css %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/photos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">

{% endblock %}

{% block content %}

{% from "_fields.html" import render_field %}

<form class="form content" method="post">

    {{ render_field(form.name) }}
    {{ render_field(form.category) }}
    <div>
        {{ form.submit(class="create-album-submit") }}
    </div>
</form>

{% endblock %}