{% extends "_base.html" %}

{% block css %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/photos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">

{% endblock %}

{% block content %}

<form class="form content" method="post">
    <div>
        {{ form.name.label }}
        {{ form.name(class="text-input") }}
        {% if form.name.errors %}
            {% for err in form.name.errors %}
                <div class="valid-warn">{{ err }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {{ form.category.label }}
        {{ form.category(class="text-input") }}
    </div>
    <div>
        {{ form.submit(class="create-album-submit") }}
    </div>
</form>

{% endblock %}