{% extends "_base.html" %}

{% block css %}
{{ super() }}

<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename="css/home.css" ) }}'>

{% endblock %}

{% block content %}
{{ super() }}

<div class="content">
    <div class="item">
        <p>
            Our goal is to provide users with an easy solution to store their photos.
            You can create a private or public album and share it with the world.
        </p>
        <p>
            We provide:
        <ul>
            <li>Safe access to files stored on the cloud</li>
            <li>Abilities to create and remove an album</li>
            <li>Upload and remove photos</li>
            <li>View the images in the album</li>
        </ul>
        </p>
        <a href="{{ url_for('user_bp.register_page') }}">Join now</a>
    </div>
    <div class="item">
        <img src="{{ url_for('static', filename='img/team.jpg') }}" alt="Team">
    </div>
</div>

{% endblock %}