{% extends "_base.html" %}

{% block css %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/photos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">

{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='js/photos.js') }}"></script>
{% endblock %}

{% block content %}

<div class="create-album">
    <a href="{{ url_for('create_album') }}">Create album</a>
</div>

{% include "_flashes.html" %}

<div class="album-container">
    {% for album in albums %}
    <a href="{{ url_for('album_page', album_id=album.id) }}">
        <div class="album">
            <label>
                {{ album.name }}
                <form action="{{ url_for('remove_album', album_id=album.id) }}" method="post">
                    <input type="submit" value="X" id="remove-album">
                </form>
            </label>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}