{% extends "_base.html" %}

{% block css %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/photos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">

{% endblock %}

{% block content %}

<form method="post" enctype="multipart/form-data" class="form form-center">
    <div class="file-upload">
        {{ form.file.label }}
        {{ form.file }}
    </div>
    <div>
        {{ form.submit }}
    </div>
</form>

{% if current_user.is_authenticated %}
<form class="form" method="post" action="{{ url_for('logout') }}">
    <input type="submit" value="Logout">

</form>
{% endif %}

{% endblock %}