{% extends "_base.html" %}

{% block css %}
{{ super() }}

<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename="css/forms.css" ) }}'>

{% endblock %}

{% block content %}

<form class="form form-center" method="post">
    {{ form.csrf_token }}
    {% include "_flashes.html" %}
    <div>
        {{ form.username.label }}
        {{ form.username(class="text-input") }}
        <!-- {% if form.username.errors %}
            {% for err in form.username.errors %}
                <div class="valid-warn">{{ err }}</div>
            {% endfor %}
        {% endif %} -->
    </div>
    <div>
        {{ form.email.label }}
        {{ form.email(class="text-input") }}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(class="text-input") }}
    </div>
    <div>
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class="text-input") }}
    </div>
    <div>
        {{ form.accept_rules }}
        {{ form.accept_rules.label }}
    </div>
    <div>
        {{ form.submit(class="register") }}
    </div>
</form>

{% endblock %}