.img-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img{
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

img:hover{
    transform: scale(1.1);
}