.img-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img{
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 300px;
    height: 300px;
}

img:hover{
    transform: scale(1.1) translate(-0.5vw);
}

.remove-photo{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.remove-photo input{
    background-color: red;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}