.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-size: large;
}

.content {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 90vh;
}

.form-up {
  height: 50vh;
}

.form > * {
  padding: 1.5vh;
}

input {
  font-size: medium;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 3em;
  width: 20em;
  border-style: double;
  border-color: #4cc9f0;
  border-width: 3px;
  border-radius: 6px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: #f72585;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
  color: black;
}

.create-album-submit,
.logout,
.upload,
.login,
.register {
  height: 3em;
  width: 8em;
  border-radius: 5px;
  border-width: 1px;
  background-color: #3f37c9;
  color: white;
  transition: ease-in-out 0.5s;
  box-shadow: 2px 2px 4px 2px black;
}

.create-album-submit:hover,
.logout:hover,
.upload:hover,
.login:hover,
.register:hover {
  cursor: pointer;
  background-color: #f72585;
}

input[type="checkbox"] {
    position: relative;
    width: 1em;
    height: 1em;
    vertical-align: -2px;
}

.form .text-input {
  display: flex;
  flex-direction: column;
}

.form-upload {
  display: flex;
  flex-flow: column wrap;
  border: 3px solid black;
  border-radius: 8px;
  background-color: #3a0ca3;
  color: white;
  padding: 2vh;
}

.form-upload label {
  padding: 0.5em;
}

.form-login{
  align-items: baseline;
}

.form-register{
  align-items: baseline;
}

.form-create-album{
  align-items: center;
}