.content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 1fr) 2.5fr;
  grid-auto-flow: column;
  text-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: x-large;
}

main {
  padding-bottom: 0px !important;
}

.item img {
  max-height: 70vh;
  width: 45vw;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.item img:hover {
  transform: scale(1.01);
}

ul {
  list-style: none;
}

ul li::before {
  content: "⇒ ";
  color: #7209b7;
}

.item a {
  display: flex;
  text-decoration: none;
  background-color: #7209b7;
  border: none;
  border-radius: 10px;
  width: fit-content;
  color: white;
  padding: 12px;
  margin-top: 50px;
  transition: transform 0.5s ease-in-out;
  background-image: linear-gradient(
    90deg,
    #f72585,
    #b5179e,
    #480ca8,
    #4361ee,
    #4cc9f0,
    #f72585
  );
  background-size: 400%;
  animation: border-flow 25s linear infinite;
  background-clip: padding-box;
}

.item a:hover {
  background-color: #f72585;
  animation: none;
}

@keyframes border-flow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    font-size: x-large;
  }
  .item a {
    padding: 5px;
  }
}

@media screen and (max-width: 720px) {
  .content {
    font-size: large;
  }
}

@media screen and (max-width: 500px) {
  .content {
    grid-auto-flow: row;
    gap: 3px;
  }

  .item img {
    max-height: 100vh;
    min-width: 70vw;
  }
}
