.create-album {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  place-self: center;
  min-height: 40vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.create-album a {
  text-decoration: none;
  border: 2px solid black;
  border-radius: 6px;
  padding: 1vh;
  background-color: #7209b7;
  color: white;
  transition: all 0.5s;
  box-shadow: 1px 1px 3px 1px black;
}

.create-album a:hover {
  background-color: #f72585;
}

.album-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 10vh;
}

.album {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 10em;
  height: 10em;
  background-color: #b5179e;
  transition: all 0.5s;
  box-shadow: 8px 5px 10px 0px #000000;
}

.album:hover {
  transform: scale(1.1);
}

.album label:hover {
  cursor: pointer;
}

.album-container a {
  text-decoration: none;
  color: white;
  text-align: center;
}

#remove-album {
  visibility: hidden;
  background-color: #7209b7;
  color: white;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 1px black;
  transition: 0.3s all;
  cursor: pointer;
  margin-top: 10px;
}

#remove-album:hover {
}

.album:hover #remove-album {
  visibility: visible;
  opacity: 1;
}
