.file-upload{
    display: flex;
    flex-flow: column wrap;
    border: 3px solid black;
    border-radius: 8px;
    background-color: #3a0ca3;
    color: white;
}

.file-upload label{
    padding: 0.5em;
}