{% extends "_base.html" %}

{% block css %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('base_bp.static', filename='css/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('album_bp.static', filename='css/album.css') }}">
<link rel="stylesheet" href="{{ url_for('album_bp.static', filename='css/pagination.css') }}">

{% endblock %}

{% block js %}
<script src="{{ url_for('album_bp.static', filename='js/photos.js') }}"></script>
{% endblock %}

{% block content %}

{% from "_fields.html" import render_field %}

<div>
    <form method="post" enctype="multipart/form-data" class="form form-up">
        {{ form.csrf_token }}
    
        {{ render_field(form.file, class="form-upload") }}
        <div>
            {{ form.submit(class="upload") }}
        </div>
    </form>
</div>

{% if urls %}
<div class="img-container">
    {% for url in urls %}
    <div class="photo-actions">
        <img src="{{ url }}" alt="Image" class="photo">
        <form id="remove-form" action="{{ url_for('album_bp.remove_photo', album_id=album_id) }}" method="post">
            <input type="hidden" name="filename" value="{{ url.split('/')[-1].split('?')[0] }}">
            <input type="submit" value="X">
        </form>
    </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}