{% extends "_base.html" %}

{% block css %}

{{ super() }}
<link rel="stylesheet" href="{{ url_for('album_bp.static', filename='css/photos.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('album_bp.static', filename='css/pagination.css') }}">

{% endblock %}

{% block content %}

<div class="create-album">
    <a href="{{ url_for('album_bp.create_album') }}">Create album</a>
</div>

{% include "_flashes.html" %}

<div class="album-container">
    {% for album in albums %}
    <a href="{{ url_for('album_bp.album_page', album_id=album.id) }}">
        <div class="album">
            <label>
                <div>{{ album.name }}</div>
                <div>Photos: {{ count_photos(album.id) }}</div>
            </label>
            <div>
                <form action="{{ url_for('album_bp.remove_album', album_id=album.id) }}" method="post">
                    <input type="submit" value="X" id="remove-album">
                </form>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<div class="pages">
    {% if albums.total > 9 %}
        <a href="{{ url_for('photos', page=1) }}"><<</a>
        {% for album_page in albums.iter_pages() %}
            <a href="{{ url_for('photos', page=album_page) }}">{{ album_page }}</a>
        {% endfor %}
        <a href="{{ url_for('photos', page=albums.pages) }}">>></a>
    {% endif %}
</div>

{% endblock %}