@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');

:root {
  font-family: "JetBrains Mono", monospace;
}

html,
body {
  margin: 0;
  padding: 0;
}

main{
  padding-bottom: 50px;
}

div[class^="alert-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

div[class^="alert-"] .alert-close {
  margin-left: 8px;
}

.alert-success {
}

.alert-error {
}

.alert-close {
  border: 3px solid black;
  background-color: red;
  color: white;
  border-radius: 6px;
}

.errors {
  list-style: none;
  padding: 0;
  margin: 0;
  color: red;
}

.errors li {
  font-size: 0.8em;
}